/* LandingPage.css */
.landing-page {
    text-align: center;
    background-image: url('../assets/Lvbuilding.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
  }
  
  .hero-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #004080;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #f1f1f1;
    color: black;
  }
  